.modal{
    position: fixed;
    top: 30%;
    left: 30%;
    width:400px;
    z-index: 200;
    background-color:red; 
    border: 2px solid black;  
}
.modal-container {
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
    background: black;
	
}
.modal-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    background-color: brown;
}
.header-text{
    font-size: 20px;
    color: white;
}
.modal-info-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
}
.modal-text{
    font-size: 15px;
    color: white;
}
.modal-btns{
    display: flex;
    justify-content: center;
    align-items: center;
}
.okBtn{
    margin-right: 20px;
    width: 70px;
}

